@import "tailwindcss";

@theme {
    --color-siberian-blue: #1390E5;
    --color-gray: rgba(23, 23, 25, 0.3)
}

body {
    background: #fafafa;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}